# Get it from my.telegram.org
API_ID=
API_HASH=

# Get it from @BotFather
BOT_TOKEN=

# Get it from https://cloud.mongodb.com
MONGO_DB_URI=

# Your User ID
OWNER_ID=

# Get it from @YukkiStringBot
STRING_SESSION=

# Your Log Group ID
LOG_GROUP_ID=

# Optional Variables
MUSIC_BOT_NAME=
DURATION_LIMIT=60
SONG_DOWNLOAD_DURATION_LIMIT=180
AUTO_LEAVING_ASSISTANT=True
AUTO_LEAVE_ASSISTANT_TIME=5400
CLEANMODE_MINS=5
SET_CMDS=False

# Heroku Variables (Optional)
HEROKU_API_KEY=
HEROKU_APP_NAME=

# Spotify Variables (Optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Image URLs (Optional)
START_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
PING_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
PLAYLIST_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
GLOBAL_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
STATS_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
TELEGRAM_AUDIO_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
TELEGRAM_VIDEO_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
STREAM_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
SOUNCLOUD_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
YOUTUBE_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
SPOTIFY_ARTIST_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
SPOTIFY_ALBUM_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png
SPOTIFY_PLAYLIST_IMG_URL=https://telegra.ph/file/c0e014ff34f34d1056627.png